.footer {
    background-color: #000;
    color: #fff;
    padding: 5rem 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    /* flex-wrap: wrap; */
}

.footer__content {
    max-width: 30rem;
}

.footer__title {
    margin: 0;
}

.copy__right {
    margin: 0;
}

.arrow-up {
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: .3rem solid #fff;
    padding: 1rem;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.arrow-up:hover svg {
    animation: jump 0.6s ease;
}