<section class="options">
    <div class="container">
        <div class="options-wrapper">
            <div class="options__head">
                <h2 class="options__title">Limitless Options</h2>
                <p class="options__description">Phasellus sed nisi ac dui interdum semper. Etiam consequat fermentum
                    sollicitudin. Fusce vulputate
                    porta faucibus. Vivamus nulla tellus, accumsan non efficitur id, pretium quis ante</p>
                <app-button linkText="Download Now" />
            </div>
            <div class="options__banner">
                <img src="assets/images/options.png" alt="options background" class="options__img">
            </div>
        </div>
    </div>
</section>