<app-header />
<app-home-section />
<app-hero-section heroTitle="SEO Friendly" heroDes="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar luctus sem, eget porta orci. Maecenas molestie dui id diam feugiat, eu tincidunt mauris aliquam. Duis commodo vitae ligula et interdum. Maecenas faucibus mattis imperdiet. In rhoncus ac ligula id ultricies.
" [imgProps]="{imgUrl: 'assets/images/seo-friendly.png', imgAlt: 'Seo friendly'}" />
<img src="" alt="">

<app-hero-section heroTitle="Portfolio Section" heroDes="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar luctus sem, eget porta orci. Maecenas molestie dui id diam feugiat, eu tincidunt mauris aliquam. Duis commodo vitae ligula et interdum.
" [imgProps]="{imgUrl: 'assets/images/portfolio.png', imgAlt: 'Portolio'}" direction="row-reverse" bgColor="#f5f5f5" />
<app-parallax-section />