<section class="parallax">
    <div class="container">
        <div class="parallax-wrapper">
            <h2 class="parallax__title">Small Parallax Section</h2>
            <p class="parallax__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus imperdiet
                rhoncus porta. Ut quis sem
                quis purus lobortis dictum. Aliquam nec dignissim nisl. Vivamus cursus feugiat sapien, eget tincidunt
                leo ornare quis.</p>
            <app-button linkText="More Info" />
        </div>
    </div>
</section>